// Colors
$white-background: #ffffff;
$grey-background: #f5f5f5;

$white: #ffffff;
$text-white: #f0f0f0;
$light-grey: #cccccc;
$grey: #999999;
$dark-grey: #333333;

$dark: #141414;
$accent: #597671;

// Paddings (Vertical Only)
$small-padding: 15px;
$regular-padding: 50px;
$large-padding: 60px;

// Transitions
$regular-transition: all 0.3s ease;
$medium-transition: all 0.45s ease;
$long-transition: all 0.5s ease;

// Font Sizes
$small-font-size: 13px;
$regular-font-size: 16px;
$large-font-size: 18px;
$small-icon-size: 20px;
$regular-icon-size: 24px;

// Responsive Break Points
$mobile-max: 767px;
$tablet-min: 768px;

// Buttons
$btn-main-background-color: #43484e;
$btn-alternative-background-color: #b8bfb8;

// Alert
$form-message-fail-background-color:         #FFD2D2;
$form-message-fail-text-color:               #D8000C;
$form-message-success-background-color:      #DFF2BF;
$form-message-success-text-color:            #4F8A10;