.rating {
	&.rate-00 {
		&:after {
			font-family: FontAwesome;
			content: '\f006\00a0\f006\00a0\f006\00a0\f006\00a0\f006';
			font-size: 16px;
		}
	}
	&.rate-01 {
		&:after {
			font-family: FontAwesome;
			content: '\f006\00a0\f006\00a0\f006\00a0\f006\00a0\f006';
			font-size: 16px;
		}
	}
	&.rate-02 {
		&:after {
			font-family: FontAwesome;
			content: '\f006\00a0\f006\00a0\f006\00a0\f006\00a0\f006';
			font-size: 16px;
		}
	}
	&.rate-03 {
		&:after {
			font-family: FontAwesome;
			content: '\f006\00a0\f006\00a0\f006\00a0\f006\00a0\f006';
			font-size: 16px;
		}
	}
	&.rate-04 {
		&:after {
			font-family: FontAwesome;
			content: '\f006\00a0\f006\00a0\f006\00a0\f006\00a0\f006';
			font-size: 16px;
		}
	}
	&.rate-05 {
		&:after {
			font-family: FontAwesome;
			content: '\f006\00a0\f006\00a0\f006\00a0\f006\00a0\f006';
			font-size: 16px;
		}
	}
	&.rate-06 {
		&:after {
			font-family: FontAwesome;
			content: '\f123\00a0\f006\00a0\f006\00a0\f006\00a0\f006';
			font-size: 16px;
		}
	}
	&.rate-07 {
		&:after {
			font-family: FontAwesome;
			content: '\f123\00a0\f006\00a0\f006\00a0\f006\00a0\f006';
			font-size: 16px;
		}
	}
	&.rate-08 {
		&:after {
			font-family: FontAwesome;
			content: '\f123\00a0\f006\00a0\f006\00a0\f006\00a0\f006';
			font-size: 16px;
		}
	}
	&.rate-09 {
		&:after {
			font-family: FontAwesome;
			content: '\f123\00a0\f006\00a0\f006\00a0\f006\00a0\f006';
			font-size: 16px;
		}
	}
	&.rate-10 {
		&:after {
			font-family: FontAwesome;
			content: '\f123\00a0\f006\00a0\f006\00a0\f006\00a0\f006';
			font-size: 16px;
		}
	}
	&.rate-11 {
		&:after {
			font-family: FontAwesome;
			content: '\f123\00a0\f006\00a0\f006\00a0\f006\00a0\f006';
			font-size: 16px;
		}
	}
	&.rate-12 {
		&:after {
			font-family: FontAwesome;
			content: '\f123\00a0\f006\00a0\f006\00a0\f006\00a0\f006';
			font-size: 16px;
		}
	}
	&.rate-13 {
		&:after {
			font-family: FontAwesome;
			content: '\f123\00a0\f006\00a0\f006\00a0\f006\00a0\f006';
			font-size: 16px;
		}
	}
	&.rate-14 {
		&:after {
			font-family: FontAwesome;
			content: '\f123\00a0\f006\00a0\f006\00a0\f006\00a0\f006';
			font-size: 16px;
		}
	}
	&.rate-15 {
		&:after {
			font-family: FontAwesome;
			content: '\f123\00a0\f123\00a0\f006\00a0\f006\00a0\f006';
			font-size: 16px;
		}
	}
	&.rate-16 {
		&:after {
			font-family: FontAwesome;
			content: '\f005\00a0\f123\00a0\f006\00a0\f006\00a0\f006';
			font-size: 16px;
		}
	}
	&.rate-17 {
		&:after {
			font-family: FontAwesome;
			content: '\f005\00a0\f123\00a0\f006\00a0\f006\00a0\f006';
			font-size: 16px;
		}
	}
	&.rate-18 {
		&:after {
			font-family: FontAwesome;
			content: '\f005\00a0\f123\00a0\f006\00a0\f006\00a0\f006';
			font-size: 16px;
		}
	}
	&.rate-19 {
		&:after {
			font-family: FontAwesome;
			content: '\f005\00a0\f123\00a0\f006\00a0\f006\00a0\f006';
			font-size: 16px;
		}
	}
	&.rate-20 {
		&:after {
			font-family: FontAwesome;
			content: '\f005\00a0\f006\00a0\f006\00a0\f006\00a0\f006';
			font-size: 16px;
		}
	}
	&.rate-21 {
		&:after {
			font-family: FontAwesome;
			content: '\f005\00a0\f006\00a0\f006\00a0\f006\00a0\f006';
			font-size: 16px;
		}
	}
	&.rate-22 {
		&:after {
			font-family: FontAwesome;
			content: '\f005\00a0\f006\00a0\f006\00a0\f006\00a0\f006';
			font-size: 16px;
		}
	}
	&.rate-23 {
		&:after {
			font-family: FontAwesome;
			content: '\f005\00a0\f006\00a0\f006\00a0\f006\00a0\f006';
			font-size: 16px;
		}
	}
	&.rate-24 {
		&:after {
			font-family: FontAwesome;
			content: '\f005\00a0\f006\00a0\f006\00a0\f006\00a0\f006';
			font-size: 16px;
		}
	}
	&.rate-25 {
		&:after {
			font-family: FontAwesome;
			content: '\f005\00a0\f006\00a0\f006\00a0\f006\00a0\f006';
			font-size: 16px;
		}
	}
	&.rate-26 {
		&:after {
			font-family: FontAwesome;
			content: '\f005\00a0\f123\00a0\f006\00a0\f006\00a0\f006';
			font-size: 16px;
		}
	}
	&.rate-27 {
		&:after {
			font-family: FontAwesome;
			content: '\f005\00a0\f123\00a0\f006\00a0\f006\00a0\f006';
			font-size: 16px;
		}
	}
	&.rate-28 {
		&:after {
			font-family: FontAwesome;
			content: '\f005\00a0\f123\00a0\f006\00a0\f006\00a0\f006';
			font-size: 16px;
		}
	}
	&.rate-29 {
		&:after {
			font-family: FontAwesome;
			content: '\f005\00a0\f123\00a0\f006\00a0\f006\00a0\f006';
			font-size: 16px;
		}
	}
	&.rate-30 {
		&:after {
			font-family: FontAwesome;
			content: '\f005\00a0\f123\00a0\f006\00a0\f006\00a0\f006';
			font-size: 16px;
		}
	}
	&.rate-31 {
		&:after {
			font-family: FontAwesome;
			content: '\f005\00a0\f123\00a0\f006\00a0\f006\00a0\f006';
			font-size: 16px;
		}
	}
	&.rate-32 {
		&:after {
			font-family: FontAwesome;
			content: '\f005\00a0\f123\00a0\f006\00a0\f006\00a0\f006';
			font-size: 16px;
		}
	}
	&.rate-33 {
		&:after {
			font-family: FontAwesome;
			content: '\f005\00a0\f123\00a0\f006\00a0\f006\00a0\f006';
			font-size: 16px;
		}
	}
	&.rate-34 {
		&:after {
			font-family: FontAwesome;
			content: '\f005\00a0\f123\00a0\f006\00a0\f006\00a0\f006';
			font-size: 16px;
		}
	}
	&.rate-35 {
		&:after {
			font-family: FontAwesome;
			content: '\f005\00a0\f123\00a0\f006\00a0\f006\00a0\f006';
			font-size: 16px;
		}
	}
	&.rate-36 {
		&:after {
			font-family: FontAwesome;
			content: '\f005\00a0\f005\00a0\f006\00a0\f006\00a0\f006';
			font-size: 16px;
		}
	}
	&.rate-37 {
		&:after {
			font-family: FontAwesome;
			content: '\f005\00a0\f005\00a0\f006\00a0\f006\00a0\f006';
			font-size: 16px;
		}
	}
	&.rate-38 {
		&:after {
			font-family: FontAwesome;
			content: '\f005\00a0\f005\00a0\f006\00a0\f006\00a0\f006';
			font-size: 16px;
		}
	}
	&.rate-39 {
		&:after {
			font-family: FontAwesome;
			content: '\f005\00a0\f005\00a0\f006\00a0\f006\00a0\f006';
			font-size: 16px;
		}
	}
	&.rate-40 {
		&:after {
			font-family: FontAwesome;
			content: '\f005\00a0\f005\00a0\f006\00a0\f006\00a0\f006';
			font-size: 16px;
		}
	}
	&.rate-41 {
		&:after {
			font-family: FontAwesome;
			content: '\f005\00a0\f005\00a0\f006\00a0\f006\00a0\f006';
			font-size: 16px;
		}
	}
	&.rate-42 {
		&:after {
			font-family: FontAwesome;
			content: '\f005\00a0\f005\00a0\f006\00a0\f006\00a0\f006';
			font-size: 16px;
		}
	}
	&.rate-43 {
		&:after {
			font-family: FontAwesome;
			content: '\f005\00a0\f005\00a0\f006\00a0\f006\00a0\f006';
			font-size: 16px;
		}
	}
	&.rate-44 {
		&:after {
			font-family: FontAwesome;
			content: '\f005\00a0\f005\00a0\f006\00a0\f006\00a0\f006';
			font-size: 16px;
		}
	}
	&.rate-45 {
		&:after {
			font-family: FontAwesome;
			content: '\f005\00a0\f005\00a0\f006\00a0\f006\00a0\f006';
			font-size: 16px;
		}
	}
	&.rate-46 {
		&:after {
			font-family: FontAwesome;
			content: '\f005\00a0\f005\00a0\f123\00a0\f006\00a0\f006';
			font-size: 16px;
		}
	}
	&.rate-47 {
		&:after {
			font-family: FontAwesome;
			content: '\f005\00a0\f005\00a0\f123\00a0\f006\00a0\f006';
			font-size: 16px;
		}
	}
	&.rate-48 {
		&:after {
			font-family: FontAwesome;
			content: '\f005\00a0\f005\00a0\f123\00a0\f006\00a0\f006';
			font-size: 16px;
		}
	}
	&.rate-49 {
		&:after {
			font-family: FontAwesome;
			content: '\f005\00a0\f005\00a0\f123\00a0\f006\00a0\f006';
			font-size: 16px;
		}
	}
	&.rate-50 {
		&:after {
			font-family: FontAwesome;
			content: '\f005\00a0\f005\00a0\f123\00a0\f006\00a0\f006';
			font-size: 16px;
		}
	}
	&.rate-51 {
		&:after {
			font-family: FontAwesome;
			content: '\f005\00a0\f005\00a0\f123\00a0\f006\00a0\f006';
			font-size: 16px;
		}
	}
	&.rate-52 {
		&:after {
			font-family: FontAwesome;
			content: '\f005\00a0\f005\00a0\f123\00a0\f006\00a0\f006';
			font-size: 16px;
		}
	}
	&.rate-53 {
		&:after {
			font-family: FontAwesome;
			content: '\f005\00a0\f005\00a0\f123\00a0\f006\00a0\f006';
			font-size: 16px;
		}
	}
	&.rate-54 {
		&:after {
			font-family: FontAwesome;
			content: '\f005\00a0\f005\00a0\f123\00a0\f006\00a0\f006';
			font-size: 16px;
		}
	}
	&.rate-55 {
		&:after {
			font-family: FontAwesome;
			content: '\f005\00a0\f005\00a0\f123\00a0\f006\00a0\f006';
			font-size: 16px;
		}
	}
	&.rate-56 {
		&:after {
			font-family: FontAwesome;
			content: '\f005\00a0\f005\00a0\f005\00a0\f006\00a0\f006';
			font-size: 16px;
		}
	}
	&.rate-57 {
		&:after {
			font-family: FontAwesome;
			content: '\f005\00a0\f005\00a0\f005\00a0\f006\00a0\f006';
			font-size: 16px;
		}
	}
	&.rate-58 {
		&:after {
			font-family: FontAwesome;
			content: '\f005\00a0\f005\00a0\f005\00a0\f006\00a0\f006';
			font-size: 16px;
		}
	}
	&.rate-59 {
		&:after {
			font-family: FontAwesome;
			content: '\f005\00a0\f005\00a0\f005\00a0\f006\00a0\f006';
			font-size: 16px;
		}
	}
	&.rate-60 {
		&:after {
			font-family: FontAwesome;
			content: '\f005\00a0\f005\00a0\f005\00a0\f006\00a0\f006';
			font-size: 16px;
		}
	}
	&.rate-61 {
		&:after {
			font-family: FontAwesome;
			content: '\f005\00a0\f005\00a0\f005\00a0\f006\00a0\f006';
			font-size: 16px;
		}
	}
	&.rate-62 {
		&:after {
			font-family: FontAwesome;
			content: '\f005\00a0\f005\00a0\f005\00a0\f006\00a0\f006';
			font-size: 16px;
		}
	}
	&.rate-63 {
		&:after {
			font-family: FontAwesome;
			content: '\f005\00a0\f005\00a0\f005\00a0\f006\00a0\f006';
			font-size: 16px;
		}
	}
	&.rate-64 {
		&:after {
			font-family: FontAwesome;
			content: '\f005\00a0\f005\00a0\f005\00a0\f006\00a0\f006';
			font-size: 16px;
		}
	}
	&.rate-65 {
		&:after {
			font-family: FontAwesome;
			content: '\f005\00a0\f005\00a0\f005\00a0\f006\00a0\f006';
			font-size: 16px;
		}
	}
	&.rate-66 {
		&:after {
			font-family: FontAwesome;
			content: '\f005\00a0\f005\00a0\f005\00a0\f123\00a0\f006';
			font-size: 16px;
		}
	}
	&.rate-67 {
		&:after {
			font-family: FontAwesome;
			content: '\f005\00a0\f005\00a0\f005\00a0\f123\00a0\f006';
			font-size: 16px;
		}
	}
	&.rate-68 {
		&:after {
			font-family: FontAwesome;
			content: '\f005\00a0\f005\00a0\f005\00a0\f123\00a0\f006';
			font-size: 16px;
		}
	}
	&.rate-69 {
		&:after {
			font-family: FontAwesome;
			content: '\f005\00a0\f005\00a0\f005\00a0\f123\00a0\f006';
			font-size: 16px;
		}
	}
	&.rate-70 {
		&:after {
			font-family: FontAwesome;
			content: '\f005\00a0\f005\00a0\f005\00a0\f123\00a0\f006';
			font-size: 16px;
		}
	}
	&.rate-71 {
		&:after {
			font-family: FontAwesome;
			content: '\f005\00a0\f005\00a0\f005\00a0\f123\00a0\f006';
			font-size: 16px;
		}
	}
	&.rate-72 {
		&:after {
			font-family: FontAwesome;
			content: '\f005\00a0\f005\00a0\f005\00a0\f123\00a0\f006';
			font-size: 16px;
		}
	}
	&.rate-73 {
		&:after {
			font-family: FontAwesome;
			content: '\f005\00a0\f005\00a0\f005\00a0\f123\00a0\f006';
			font-size: 16px;
		}
	}
	&.rate-74 {
		&:after {
			font-family: FontAwesome;
			content: '\f005\00a0\f005\00a0\f005\00a0\f123\00a0\f006';
			font-size: 16px;
		}
	}
	&.rate-75 {
		&:after {
			font-family: FontAwesome;
			content: '\f005\00a0\f005\00a0\f005\00a0\f123\00a0\f006';
			font-size: 16px;
		}
	}
	&.rate-76 {
		&:after {
			font-family: FontAwesome;
			content: '\f005\00a0\f005\00a0\f005\00a0\f005\00a0\f006';
			font-size: 16px;
		}
	}
	&.rate-77 {
		&:after {
			font-family: FontAwesome;
			content: '\f005\00a0\f005\00a0\f005\00a0\f005\00a0\f006';
			font-size: 16px;
		}
	}
	&.rate-78 {
		&:after {
			font-family: FontAwesome;
			content: '\f005\00a0\f005\00a0\f005\00a0\f005\00a0\f006';
			font-size: 16px;
		}
	}
	&.rate-79 {
		&:after {
			font-family: FontAwesome;
			content: '\f005\00a0\f005\00a0\f005\00a0\f005\00a0\f006';
			font-size: 16px;
		}
	}
	&.rate-80 {
		&:after {
			font-family: FontAwesome;
			content: '\f005\00a0\f005\00a0\f005\00a0\f005\00a0\f006';
			font-size: 16px;
		}
	}
	&.rate-81 {
		&:after {
			font-family: FontAwesome;
			content: '\f005\00a0\f005\00a0\f005\00a0\f005\00a0\f006';
			font-size: 16px;
		}
	}
	&.rate-82 {
		&:after {
			font-family: FontAwesome;
			content: '\f005\00a0\f005\00a0\f005\00a0\f005\00a0\f006';
			font-size: 16px;
		}
	}
	&.rate-83 {
		&:after {
			font-family: FontAwesome;
			content: '\f005\00a0\f005\00a0\f005\00a0\f005\00a0\f006';
			font-size: 16px;
		}
	}
	&.rate-84 {
		&:after {
			font-family: FontAwesome;
			content: '\f005\00a0\f005\00a0\f005\00a0\f005\00a0\f006';
			font-size: 16px;
		}
	}
	&.rate-85 {
		&:after {
			font-family: FontAwesome;
			content: '\f005\00a0\f005\00a0\f005\00a0\f005\00a0\f006';
			font-size: 16px;
		}
	}
	&.rate-86 {
		&:after {
			font-family: FontAwesome;
			content: '\f005\00a0\f005\00a0\f005\00a0\f005\00a0\f123';
			font-size: 16px;
		}
	}
	&.rate-87 {
		&:after {
			font-family: FontAwesome;
			content: '\f005\00a0\f005\00a0\f005\00a0\f005\00a0\f123';
			font-size: 16px;
		}
	}
	&.rate-88 {
		&:after {
			font-family: FontAwesome;
			content: '\f005\00a0\f005\00a0\f005\00a0\f005\00a0\f123';
			font-size: 16px;
		}
	}
	&.rate-89 {
		&:after {
			font-family: FontAwesome;
			content: '\f005\00a0\f005\00a0\f005\00a0\f005\00a0\f123';
			font-size: 16px;
		}
	}
	&.rate-90 {
		&:after {
			font-family: FontAwesome;
			content: '\f005\00a0\f005\00a0\f005\00a0\f005\00a0\f123';
			font-size: 16px;
		}
	}
	&.rate-91 {
		&:after {
			font-family: FontAwesome;
			content: '\f005\00a0\f005\00a0\f005\00a0\f005\00a0\f123';
			font-size: 16px;
		}
	}
	&.rate-92 {
		&:after {
			font-family: FontAwesome;
			content: '\f005\00a0\f005\00a0\f005\00a0\f005\00a0\f123';
			font-size: 16px;
		}
	}
	&.rate-93 {
		&:after {
			font-family: FontAwesome;
			content: '\f005\00a0\f005\00a0\f005\00a0\f005\00a0\f123';
			font-size: 16px;
		}
	}
	&.rate-94 {
		&:after {
			font-family: FontAwesome;
			content: '\f005\00a0\f005\00a0\f005\00a0\f005\00a0\f123';
			font-size: 16px;
		}
	}
	&.rate-95 {
		&:after {
			font-family: FontAwesome;
			content: '\f005\00a0\f005\00a0\f005\00a0\f005\00a0\f123';
			font-size: 16px;
		}
	}
	&.rate-96 {
		&:after {
			font-family: FontAwesome;
			content: '\f005\00a0\f005\00a0\f005\00a0\f005\00a0\f005';
			font-size: 16px;
		}
	}
	&.rate-97 {
		&:after {
			font-family: FontAwesome;
			content: '\f005\00a0\f005\00a0\f005\00a0\f005\00a0\f005';
			font-size: 16px;
		}
	}
	&.rate-98 {
		&:after {
			font-family: FontAwesome;
			content: '\f005\00a0\f005\00a0\f005\00a0\f005\00a0\f005';
			font-size: 16px;
		}
	}
	&.rate-99 {
		&:after {
			font-family: FontAwesome;
			content: '\f005\00a0\f005\00a0\f005\00a0\f005\00a0\f005';
			font-size: 16px;
		}
	}
	&.rate-100 {
		&:after {
			font-family: FontAwesome;
			content: '\f005\00a0\f005\00a0\f005\00a0\f005\00a0\f005';
			font-size: 16px;
		}
	}
}
